// FONT
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap%22");
@import "bootstrap/dist/css/bootstrap.css";

@import "footer";
@import "auth";
@import "history";
@import "modalDelete";
@import "landingPage";
@import "detailProduct";
@import "homeProduct";
@import "paymnet";
@import "newProduct";
@import "newPromo";
@import "dashboard";
@import "profile";
@import "user-login";

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.rubik-600 {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

.rubik-700 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}
