// FONT
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap%22");

@import "footer.scss";
@import "auth";
@import "history.scss";
@import "modalDelete.scss";
@import "landingPage.scss";
@import "detailProduct.scss";
@import "homeProduct.scss";
@import "paymnet.scss";
@import "newProduct.scss";
@import "newPromo.scss";
@import "dashboard.scss";
@import "profile.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.rubik-600 {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

.rubik-700 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}
